<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Young Professionals Council</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The YPC is composed of emerging leaders in the business community who are dedicated to promoting the level of health care in the County of Santa Clara and addressing the current health-related issues affecting the community. The focus of the Young Professional Council is to raise funds, volunteer, promote community awareness, and build partnerships with the local business community." />
  <meta name="keywords" content="YPC, Young Professional Council, VMC Foundation, Santa Clara County, Santa Clara Valley Medical Center, Women and Children’s Center, Raise funds, volunteer, promote community awareness, build partnerships, young leaders, positive impact, network, goal, expand."/>
  
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="assets/css/flexslider.css">
  <link rel="stylesheet" type="text/css" href="assets/css/icomoon.css">
  <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">

  <script src="angular/angular.js" charset="utf-8"></script>
  <script src="jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="ngstorage/ngStorage.min.js"></script>
  <script src="sweetalert/dist/sweetalert.min.js"></script>

  <script src="assets/app.js" charset="utf-8"></script>

  <script src="assets/factories/masterFactory.js" charset="utf-8"></script>
  
  <script src="assets/controllers/masterController.js" charset="utf-8"></script>

  
  
</head>
<body ng-app="app" ng-controller="navCtrl">
  <div class="fh5co-loader"></div>
  <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-right">
              <ul class="fh5co-social">
                <li><a href="https://twitter.com/healthyscc?lang=en" ><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/groups/7072162/profile"><i class="icon-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/groups/YoungProfessionalCouncil/"><i class="icon-facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="top-menu">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <div id="fh5co-logo"><a href="/"><img src="../assets/images/logo/YPCLogo.png" width="300px"></a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
              <ul id="nav_links">
                <li ng-if="loguser"><a>Welcome, {{loguser.username}}!</a></li>
                <li ng-if="!loguser && rootuser">Welcome, {{rootuser.username}}!</a>
                <li ng-if="loguser || rootuser" ng-click="logout()" type="" class="btn btn-primary">Logout!</li>
                <li ng-click="active('/')" ng-class="{active: $url=='/'}"><a href="#!/">Home</a></li>
                <li ng-click="active('/events')" ng-class="{active: $url=='/events'}"><a href="#!/events">Events</a></li>
                <li ng-click="active('/blog')" ng-class="{active: $url=='/blog'}"><a href="#!/blog">Blog</a></li>
                <li ng-click="active('/execs')" ng-class="{active: $url=='/execs'}"><a href="#!/execs">Executives</a></li>
                <li ng-click="active('/donate')" ng-class="{active: $url=='/donate'}"><a href="#!/donate">Donate</a></li>
                <li ng-click="active('/contact')" ng-class="{active: $url=='/contact'}"><a href="#!/contact">Contact</a></li>
                <li ng-if="!loguser && !rootuser"><a href="#!/join">Join</a></li>
                <li class="btn btn-primary" ng-if="!loguser && !rootuser"><a href="#!/sign_in">Sign In</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <ui-view></ui-view>
  <div id="fh5co-started">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <span>Let's work together</span>
          <h2>BECOME A MEMBER</h2>
          <p>The focus of the Young Professional Council is to raise funds, volunteer, promote community awareness, and build partnerships with the local business community.</p>
          <p><a href="#!/join"><button type="submit" class="btn btn-primary">Join Us</button></a></p>
        </div>
      </div>
    </div>
  </div>

  <footer id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-4 fh5co-widget ">
          <h3><a href="/"><img src="../assets/images/logo/YPCLogo.png" width="250px"></a></h3>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
          <ul class="fh5co-footer-links">
            <li><a href="#!/">Home</a></li>
            <li><a href="#!/executives">Executives</a></li>
            <li><a href="#!/events">Events</a></li>
          </ul>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
          <ul class="fh5co-footer-links">
            <li><a href="#!/join">Join</a></li>
            <li><a href="#!/blog">Blog</a></li>
            <li><a href="#!/contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
          <ul class="fh5co-footer-links">
            <li><a href="https://www.facebook.com/groups/YoungProfessionalCouncil/">Facebook</a></li>
            <li><a href="https://www.linkedin.com/groups/7072162">LinkedIn</a></li>
            <li><a href="https://twitter.com/healthyscc?lang=en">Twitter</a></li>
          </ul>
          <br><br>
        </div>
      </div>

      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">Designed &amp; Developed by <a href="https://github.com/CoolConfucius/meantemplateypc" target="_blank">YPC Scrum Team</a></small>
          </p>
        </div>
      </div>
    </div>
  </footer>
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
</body>
</html>