<div>
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('images/banner/Executives.jpg')" data-stellar-background-ratio="1">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-7 text-left">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                <h1 class="mb30">Executives</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="fh5co-team">
      <div class="container">
        <div class="row animate-box row-pb-md">
          <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
            <span>Meet Our Leaders</span>
            <h2>EXECUTIVE BOARD</h2>
            <p>The YPC is composed of emerging leaders in the business community who are dedicated to promoting the level of health care in the County of Santa Clara and addressing the current health-related issues affecting the community. These young leaders enhance the positive impact of the VMC Foundation while advancing their personal and professional goals and expanding their professional networks.</p>
          </div>
        </div>


        <div class="row">
          <% for(executive of executives)  { %>
            <div class="col-md-8 col-md-offset-2 animate-box" data-animate-effect="fadeIn">
              <h1> <%= executive.content.role %> </h1>
              <h3> <%= executive.content.name %> </h3>
              <p class="text-left">  <%= executive.content.text %> </p>
                <ul class="fh5co-social-icons">
                  <li> <a href="<%= executive.facebook %>">Facebook <i class="icon-facebook"></i></a></li>
                  <li> <a href="<%= executive.twitter %>">Twitter <i class="icon-twitter"></i></a></li>
                  <li> <a href="<%= executive.linkedin %>">LinkedIn <i class="icon-linkedin"></i></a></li>
                </ul>
            </div>
            <% } %>
        </div>
            <!-- ======================== -->


        </div>


      <div id="fh5co-testimonial" class="fh5co-bg-section">
        <div class="container">
          <div class="row animate-box row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
              <span>Connect with like-minded professionals</span>
              <h2>HAPPY MEMBERS</h2>
              <p>Stay informed with YPC and business partnership news.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 animate-box">
              <div class="testimonial">
                <blockquote>
                  <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                  <p class="author"> <img src="../assets/images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
                </blockquote>
              </div>
              <div class="testimonial fh5co-selected">
                <blockquote>
                  <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                  <p class="author"><img src="../assets/images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
                </blockquote>
              </div>
            </div>
            <div class="col-md-6 animate-box">
              <div class="testimonial fh5co-selected">
                <blockquote>
                  <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                  <p class="author"><img src="../assets/images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
                </blockquote>
              </div>
              <div class="testimonial">
                <blockquote>
                  <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                  <p class="author"><img src="../assets/images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>