<div id="home">
  <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../assets/images/banner/Home.jpg)" data-stellar-background-ratio="1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-left">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeInUp">
              <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
              <h2 class="mb30">Raise Funds, Volunteer, Promote Community Awareness &amp; Build Partnerships with the local business community</h2>
              <p>
              <!-- </div> -->
                <a href="#!/join" target="_blank" class="btn btn-primary">Join</a>  <em class="or">or</em>
                <a href="#!/donate">Donate</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-project">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading  animate-box">
          <span ng-hide="homeedit.ourpurpose" ng-bind="ourpurpose" ng-dblclick="toggleeditable('ourpurpose')">Our Purpose</span>
          <input type="text" ng-show="homeedit.ourpurpose" ng-model="ourpurpose" ng-blur="saveeditable('ourpurpose')">
          <h2 ng-hide="homeedit.mission" ng-bind="mission" ng-dblclick="toggleeditable('mission')">MISSION</h2>
          <input type="text" ng-show="homeedit.mission" ng-model="mission" ng-blur="saveeditable('mission')">
          <p ng-hide="homeedit.missionp" ng-bind="missionp" ng-dblclick="toggleeditable('missionp')">Recognizing the desire of young professionals in Santa Clara County to contribute to the welfare of their communities and connect with like-minded peers, the VMC Foundation is introducing The Young Professional Council (YPC). YPC supports the efforts of the VMC Foundation to provide critical funds for the creation of the Women and Children’s Center at VMC. The focus of the Young Professional Council is to raise funds, volunteer, promote community awareness, and build partnerships with the local business community.</p>
          <textarea type="text" ng-show="homeedit.missionp" ng-model="missionp" ng-blur="saveeditable('missionp')"></textarea>
        </div>
      </div>
    </div>
  </div>



  <div id="fh5co-services" class="fh5co-bg-section border-bottom">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-heading">
            <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
            <span ng-hide="homeedit.whoweare" ng-bind="whoweare" ng-dblclick="toggleeditable('whoweare')">Who we are</span>
            <input type="text" ng-show="homeedit.whoweare" ng-model="whoweare" ng-blur="saveeditable('whoweare')">
            <h2 ng-hide="homeedit.aboutus" ng-bind="aboutus" ng-dblclick="toggleeditable('aboutus')">ABOUT US</h2>
            <input type="text" ng-show="homeedit.aboutus" ng-model="aboutus" ng-blur="saveeditable('aboutus')">
            <p ng-hide="homeedit.aboutusp" ng-bind="aboutusp" ng-dblclick="toggleeditable('aboutusp')">The YPC is composed of emerging leaders in the business community who are dedicated to promoting the level of health care in the County of Santa Clara and addressing the current health-related issues affecting the community. Members, ages 21-35, contribute by engaging their energy and talents to advance the mission of the Santa Clara Valley Medical Center. These young leaders enhance the positive impact of the VMC Foundation while advancing their personal and professional goals and expanding their professional networks.</p>
            <textarea type="text" ng-show="homeedit.aboutusp" ng-model="aboutusp" ng-blur="saveeditable('aboutusp')"></textarea>
          <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
          <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
          <span ng-hide="homeedit.connectwith" ng-bind="connectwith" ng-dblclick="toggleeditable('connectwith')">Connect with like-minded professionals</span>
          <input type="text" ng-show="homeedit.connectwith" ng-model="connectwith" ng-blur="saveeditable('connectwith')">
          <h2 ng-hide="homeedit.happy" ng-bind="happy" ng-dblclick="toggleeditable('happy')">HAPPY MEMBERS</h2>
          <input type="text" ng-show="homeedit.happy" ng-model="happy" ng-blur="saveeditable('happy')">
          <p ng-hide="homeedit.happyp" ng-bind="happyp" ng-dblclick="toggleeditable('happyp')">Come see what the community has to say about their experience with YPC.</p>
          <textarea type="text" ng-show="homeedit.happyp" ng-model="happyp" ng-blur="saveeditable('happyp')"></textarea>
        <!-- </div> -->
      </div>
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="testimonial">
            <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
            <blockquote>
              <p ng-hide="homeedit.member1p" ng-dblclick="toggleeditable('member1p')">&ldquo;{{member1p}}&rdquo;</p>
              <textarea type="text" ng-show="homeedit.member1p" ng-model="member1p" ng-blur="saveeditable('member1p')"></textarea>
              <p class="author"> 
                <img src="../assets/images/person1.jpg"> 
                <cite ng-hide="homeedit.member1" ng-dblclick="toggleeditable('member1')">&mdash; {{member1}}</cite>
                <input type="text" ng-show="homeedit.member1" ng-model="member1" ng-blur="saveeditable('member1')">
              </p>
            </blockquote>
          <!-- </div> -->
          </div>

          <div class="testimonial fh5co-selected">
            <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
            <blockquote>
              <p ng-hide="homeedit.member2p" ng-dblclick="toggleeditable('member2p')">&ldquo;{{member2p}}&rdquo;</p>
              <textarea type="text" ng-show="homeedit.member2p" ng-model="member2p" ng-blur="saveeditable('member2p')"></textarea>
              <p class="author"><img src="../assets/images/person1.jpg"> 
                <cite ng-hide="homeedit.member2" ng-dblclick="toggleeditable('member2')">&mdash; {{member2}}</cite>
                <input type="text" ng-show="homeedit.member2" ng-model="member2" ng-blur="saveeditable('member2')">
              </p>
            </blockquote>
          <!-- </div> -->
          </div>
        </div>

        <div class="col-md-6 animate-box">
          <div class="testimonial fh5co-selected">
            <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
            <blockquote>
              <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
              <p class="author"><img src="../assets/images/person1.jpg"> <cite>&mdash; Eric Miller</cite></p>
            </blockquote>
          <!-- </div> -->
          </div>

          <div class="testimonial">
            <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
            <blockquote>
              <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
              <p class="author"><img src="../assets/images/person1.jpg"> <cite>&mdash; Mike Adam</cite></p>
            </blockquote>
          <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="fh5co-counter">
    <div class="container">

      <div class="row animate-box" data-animate-effect="fadeInUp">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
          <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
          <span>Enjoy it</span>
          <h2>Fun Facts</h2>
          <p>Support YPC and help us extend our current milestones.</p>
        <!-- </div> -->
        </div>
      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
            <span class="icon">
              <i class="ti-download"></i>
            </span>
            <span class="counter"><span class="js-counter" data-from="0" data-to="300" data-speed="1500" data-refresh-interval="50">1</span>+</span>
            <span class="counter-label">Members</span>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
            <span class="icon">
              <i class="ti-face-smile"></i>
            </span>
            <span class="counter"><span class="js-counter" data-from="0" data-to="5" data-speed="1500" data-refresh-interval="50">1</span>+</span>
            <span class="counter-label">Events</span>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
            <span class="icon">
              <i class="ti-briefcase"></i>
            </span>
            <span class="counter">$<span class=" js-counter" data-from="0" data-to="5" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
            <span class="counter-label">Money Raised</span>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
            <span class="icon">
              <i class="ti-time"></i>
            </span>
            <span class="counter"><span class="js-counter" data-from="0" data-to="12" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
            <span class="counter-label">Hours Spent</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
          <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
          <span>Thoughts &amp; Ideas</span>
          <h2>OUR BLOG</h2>
          <p>Stay informed with YPC and business partnership news.</p>
        <!-- </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <!-- <div ondblclick="makeEditable(this)" onblur="makeReadOnly(this)"> -->
            <span class="fh5co-date">Feb. 1st</span>
            <h3><a href="#">Young Professional Council</a></h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            <p class="author"><img src="../assets/images/person1.jpg"> <cite> Mike Adam</cite></p>
          <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
