 <div>
  <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../assets/images/banner/Join5.jpg);" data-stellar-background-ratio="1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-left">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeInUp">
              <h1 class="mb30">Join Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-services">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-heading">
            <span>Serve and gain</span>
            <h2>MEMBERSHIP BENEFITS</h2>
            <ul>
              <li>Members will become better informed and more involved with the Medical Center through a variety of social and educational events, as well as opportunities to mingle with physicians and hospital leadership</li>
              <li>Direct interaction with VMC Foundation Board Members to provide perspective and guidance for the future direction of the Foundation’s mission</li>
              <li>Experiential training for future board membership</li>
              <li>Exclusive access to fundraising and networking events</li>
              <li>Meet, collaborate, and mingle with other philanthropically-minded professionals in the South Bay Area</li>
              <li>Showcase leadership and entrepreneurial abilities in fundraising, event planning, and community outreach while promoting the health and happiness of Santa Clara County</li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <br><br>
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-heading">
            <span>What to expect</span>
            <h2>MEMBERSHIP EXPECTATIONS</h2>
            <ul>
              <li>Regularly attend YPC Business Meetings in person (four per year)</li>
              <li>Regularly attend YPC social events in person (two a year)</li>
              <li>Raise at least $500 a year via any source (personal contribution, company matching, signature event ticket sales, and in-kind donations</li>
              <li>Actively participate on at least one of our three committees (Treasury, Membership, and Events)</li>
              <li>Help plan, prepare, and host a Signature Event, as needed.</li>
              <li>Represent the VMC Foundation through community outreach and volunteerism with the Santa Clara Valley Medical Center</li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <br><br>
      <div class="fh5co-heading">
      <div class="col-md-8 col-md-offset-2 animate-box">
        <span>Come join us</span>
        <h2>SIGN UP</h2>
        <br>
        <form id="formRegister">
          <div class="row form-group">
            <div class="col-md-6">
              <label for="username">User Name <span ng-show="usernameerrorshow" ng-bind="usernameerror" class="validerror" style="color:red;"></span></label>
              <input ng-model="username" type="text" id="username" class="form-control" placeholder="User Name" required="required">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <label for="first_name">First Name <span ng-show="first_nameerrorshow" ng-bind="first_nameerror" class="validerror" style="color:red;"></span></label>
              <input ng-model="first_name" type="text" id="first_name" class="form-control" placeholder="First Name" required="required">
            </div>
            <div class="col-md-6">
              <label for="last_name">Last Name <span ng-show="last_nameerrorshow" ng-bind="last_nameerror" class="validerror" style="color:red;"></span></label>
              <input ng-model="last_name" type="text" id="last_name" class="form-control" placeholder="Last Name" required="required">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label for="phone">Phone Number<span ng-show="phoneerrorshow" ng-bind="phoneerror" class="validerror" style="color:red;"></span></label>
              <input ng-model="phone" type="tel" id="phone" class="form-control" placeholder="Phone Number" required="required">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label for="email">Email<span ng-show="emailerrorshow" ng-bind="emailerror" class="validerror" style="color:red;"></span></label>
              <input ng-model="email" type="text" id="email" class="form-control" placeholder="Email Address" required="required">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label for="company">Company (optional) </label>
              <input ng-model="company" type="text" id="company" class="form-control" placeholder="Company">
            </div>
            <div class="col-md-6">
              <label for="position">Position (optional)</label>
              <input ng-model="position" type="text" id="position" class="form-control" placeholder="Position">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label for="subject">Password<span ng-show="pw1errorshow" ng-bind="pw1error" class="validerror" style="color:red;"></span></label>
              <input ng-model="pw1" type="password" id="password" class="form-control" placeholder="Password" required="required">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label for="subject">Confirm Password<span ng-show="pw2errorshow" ng-bind="pw2error" class="validerror" style="color:red;"></span></label>
              <input ng-model="pw2" type="password" id="confirm_password" class="form-control" placeholder="Confirm Password" required="required">
            </div>
          </div>

                          <!-- Removed Join as Admin feature -->
          <!-- <div class="row form-group">
            <div class="col-md-12">
              <label for="subject">Join as Admin: </label>
              <select name="isadmin" ng-model="isadmin">
                <option name="true" value="true">Yes</option>
                <option name="false" value="false">No</option>
              </select>
            </div>
          </div> -->
          
          <div class="row form-group">
            <div class="col-md-12">
              <br>
              <div class="">Due to limited availability, please provide us with your top 3 committee preferences:
              </div>
              <br>
              <label for="subject">1st Preference:<span class=""><%=  %></span></label>

              <select class="form-control" id="select">
                <option>Corporate Development &amp; Partnerships</option>
                <option>Events</option>
                <option>Membership</option>
                <option>Treasury</option>
                <option>Volunteer</option>
              </select>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label for="subject">2nd Preference:<span class=""><%=  %></span></label>
              <select class="form-control" id="sel1">
                <option>Corporate Development &amp; Partnerships</option>
                <option>Events</option>
                <option>Membership</option>
                <option>Treasury</option>
                <option>Volunteer</option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label for="subject">3rd Preference:<span class=""><%=  %></span></label>
              <select class="form-control" id="sel1">
                <option>Corporate Development &amp; Partnerships</option>
                <option>Events</option>
                <option>Membership</option>
                <option>Treasury</option>
                <option>Volunteer</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <input ng-click="register()" type="submit" value="Sign Up" class="btn btn-lg btn-primary">
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>

</div>
